* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --primary: #1a93ea;
}

.carGame {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url("../images/bg-game.png");
  background-repeat: no-repeat;
}

.startScreen {
  width: 100vw;
  height: 100dvh;
  background: #000826;
}

.startScreen .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  z-index: 1;
  margin: auto;
  font-size: 0.8rem;
  letter-spacing: 2px;
  background: var(--primary);
  color: #fff;
  padding: 1.3rem 2.5rem;
  cursor: pointer;
}

.startScreen .title h1 {
  margin: 1rem 0;
  font-size: 2rem;
  text-align: center;
  font-weight: 800;
}

.startScreen .instruksi {
  padding: 1rem 2.5rem;
}

.startScreen .instruksi h4 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.startScreen .instruksi ol li {
  font-size: 0.9rem;
  font-weight: 500;
}

/* board */
.board {
  position: absolute;
  top: 20px;
  overflow: hidden;
  text-align: justify;
  left: 30px;
  word-break: break-all;
}

.score {
  background: var(--primary);
  width: 350px;
  color: #fff;
  padding: 1.2rem;
  font-size: 1.1rem;
}

.namaUser {
  background: var(--primary);
  width: 350px;
  color: #fff;
  padding: 1.2rem;
  font-size: 1.1rem;
}

.form-group {
  margin: 2rem 0 0;
}

::placeholder {
  font-size: 1.1rem;
}

.form-content {
  display: grid;
  gap: 1rem;
  grid-template-columns: 50% calc(50% - 1rem);
}

.form-content input,
.form-content select {
  width: 100%;
  display: inline-block;
  padding: 0.6rem 1rem;
  font-size: 1rem;
}

#btnMulai {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.6rem 1rem;
  width: 100%;
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 600;
}

#btnMulai {
  opacity: 0.85;
}

.hide {
  display: none;
}

.car {
  background-image: url("../images/mycar.png");
}

.car,
.enemyCar {
  width: 40px;
  height: 70px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 50%;
  bottom: 40px;
}

.gameArea {
  width: 400px;
  height: 100vh;
  margin: auto;
  background: #000;
  position: relative;
  overflow: hidden;
  border-right: 10px dashed #fff000;
  border-left: 10px dashed #fff000;
}

.line {
  width: 13px;
  background: #fff;
  height: 100px;
  position: absolute;
  left: calc(50% - 13px);
}

/* screen game over */
#screenGameOver {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 1);
  width: 100%;
  backdrop-filter: blur(5px);
  height: 100dvh;
  padding: 5%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

#screenGameOver main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 3% 0;
}

#screenGameOver main .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #dd1a1a;
  width: 50%;
}

#screenGameOver main .content h1 {
  font-size: 1.8rem;
  letter-spacing: 1.5px;
  margin-bottom: 1rem;
}

#screenGameOver main .content .detail h5 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

#screenGameOver main .content .btn-content {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

#screenGameOver main .content .btn-content button {
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.9rem;
  letter-spacing: 1px;
  padding: 0.4rem 0.8rem;
}
